{% include 'header.html' %}
{% load static %}

<div class="container px-lg-5">
    <div class="row justify-content-center">
        <div class="col-9">
            <h2>All my open requests</h2>
            {% for req in requests %}
                <div class="card card-body">
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'supportdesk_agent_view_request' req.id  %}">
                            <h4>
                                {{ req.summary }}
                                {% if req.is_high_priority %}
                                <span class="btn-sm badge-pill badge-danger border">High Priority</span>
                                {% endif %}
                            </h4>
                        </a>
                        {% if req.status == 'completed' %}
                        <span style="align-self: center;"
                              class="badge badge-pill btn-outline-success border">{{req.status}}</span>
                        {% else %}
                        <span style="align-self: center;" class="badge badge-pill btn-primary border">{{req.status}}</span>
                        {% endif %}
                    </div>
                    <p class="flex-grow-1">
                        {{ req.description }}
                    </p>
                    <h6 class="text-muted">Quick Actions</h6>
                    <div class="row">
                        <div class="col">
                            <form method="post" action="{% url 'supportdesk_agent_reassign_request' req.id  %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">
                                <svg class="injected-svg icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                          fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                          fill="#000000" fill-rule="nonzero"></path>
                                </svg>
                                <span>Reassign to someone</span>
                            </button>
                            </form>
                        </div>
                            <div class="col">
                                <form method="post" action="{% url 'supportdesk_agent_view_request' req.id  %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success" {% if req.status == 'completed' %} disabled {% endif %}>
                                    <svg class="injected-svg bg-success icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                            <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                                                  fill="#000000" fill-rule="nonzero"
                                                  transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "></path>
                                        </g>
                                    </svg>
                                    <span>Mark as completed</span>
                                    </button>
                                </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
